.main-title{
    width: 100%;
    text-align: center;
}
.new-background-color{
    --background: rgb(17, 202, 171);
}
.searchbar-input {
    border: 0 !important;
    box-shadow: none !important;
}
.my-avatar{
    --border-radius: 0 !important
}